#nav-bar {
    background-color: 	#F5F5F5;
    border-bottom-style: solid;
    border-bottom-color: 	#707070;
    border-bottom-width: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    color: #DB3A34;
    font-family: 'Rock Salt', cursive;
    font-size: 22px;
}

#faves-icon {
    font-size: 22px;
    color: #DB3A34;
}

#list-icon {
    font-size: 22px;
    color: #084C61;
}

#container {
    margin: 30px;
}

#recipeTitle {
    font-size: 25px;
    font-family: 'Crimson Text', serif;
}

#recipeIngredients {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
}

p {
    font-style: strong;
}