.jumbotron {
	background-image: url(../assets/images/meal.jpg);
	background-size: cover;
	padding-top: 15%;
	padding-bottom: 15%;
	margin-top: 0;
}

#search-term.form-control {
	opacity: 0.75;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 50px;
	color:black;
}

#search-button {
	background-color: white;
	opacity: 0.85;
	border-style: solid;
	border-color: lightgray;
}

#search-btn-form {
	max-width: 500px;
	height: 50px;
	margin: 0px auto;
}

h1 {
	color: white;
}

#search-icon {
	font-size: 20px;
}

#search-icon:hover {
	color: black;
}