#nav-bar {
    background-color: 	black;
    border-bottom-style: solid;
    border-bottom-color: 	#707070;
    border-bottom-width: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 22px;
}

#faves-icon {
    font-size: 22px;
    color: #DB3A34;
}

#list-icon {
    font-size: 22px;
    color: #084C61;
}
