#logo {
    font-family: 'Pacifico', cursive;
}

/* override bootstrap hover color and border */
.navbar navbar-light bg-light {
    
  }
  
  .navbar {
   
    border: none;
  }
  
.jumbotron {
	background-color: #8c149c;
}